
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p> This is our project for the ASP.NET MVC Laboratory <br />
    Made by:<br />
    Timor Satarov<br />
    Sergey Shevchuck</p>

@Html.ActionLink("Contact us", "Contact", "Home")


